<!DOCTYPE html>
<html>

<head>
    <title>Javascript简介</title>
</head>

<body>
    <div>
        1、javascrit是脚本语言，需要依赖于解释器环境才能运行，通常意义上js的解释环境是web浏览器(node出现之前)，不需要预先编译成二进制字节码，只需运行时读取到，然后在解释执行，调用宿主机相关服务</br>
        2、javascript本身并不提高复杂的功能，核心语法不多，主要用于数学计算和简单逻辑编写
        ，本身也不提供任何I/O相关API，都要靠宿主环境（host）提供，所以 JavaScript 只合适嵌入更大型的应用程序环境，去调用宿主环境提供的底层 API</br>
        3、宿主机环境主要有浏览器和V8引擎 NODE</br>
        4、对象模型语言，但并不只是只支持对象模型，还支持函数式变成范式，语法上非常灵活</br>
        5、核心语法非常精简，包括两大类：基础语法(操作符、控制结构、语句)和标准库(就是一系列具有各种功能的对象比如Array、Date、Math等)，各种宿主机会提供额外的操作api,例如浏览器：操作浏览器的浏览器控制类，操作网页的各种元素的DOM控制类，实现互联网的各种功能的web</br>
        7、js应用的范围越来越广，随着浏览器平台化，浏览器提供的功能越来越强大，比如操作本地文件、调用摄像头|音响...，所以js能够利用浏览器api实现的功能也越来越强大；NODE项目实现js在服务器运行；js用来操作数据库Nosql，PostgreSQL|mongodb支持js为数据库操作语言；越来越多的应用程序，将
        JavaScript 作为内嵌的脚本语言，比如 Adobe 公司的著名 PDF 阅读器 Acrobat、Linux 桌面环境 GNOME 3；</br>
        8、Any application that can be written in JavaScript will eventually be written in JavaScript.</br>

        优势：</br>
        易学性：学习平台多(浏览器，编辑器，vscode，node...)，语法精简，跟主流c、c++、c#...语法接近，学习成本低</br>
        语法灵活、表达力强：支持C语言那种过程性编程，也支持函数式编程，用来写并发式处理（concurrrent），同时还支持对象式编程，js所有的值都是对象，可以很方便地、按照需要随时创造数据结构，不用进行麻烦的预定义</br>
        支持编译运行：JavaScript 语言本身，虽然是一种解释型语言，但是在现代浏览器中，JavaScript 都是编译后运行。程序会被高度优化，运行效率接近二进制程序。而且，JavaScript
        引擎正在快速发展，性能将越来越好。还有一种 WebAssembly 格式，它是 JavaScript 引擎的中间码格式，全部都是二进制代码。由于跳过了编译步骤，可以达到接近原生二进制代码的运行速度。各种语言（主要是 C 和
        C++）通过编译成 WebAssembly，就可以在浏览器里面运行</br>
        事件驱动和非阻塞式设计：JavaScript 程序可以采用事件驱动（event-driven）和非阻塞式（non-blocking）设计，在服务器端适合高并发环境，普通的硬件就可以承受很大的访问量。</br>
        开放性：JavaScript 是一种开放的语言。它的标准 ECMA-262 是 ISO 国际标准，写得非常详尽明确；该标准的主要实现（比如 V8 和 SpiderMonkey
        引擎）都是开放的，而且质量很高。这保证了这门语言不属于任何公司或个人，不存在版权和专利的问题</br>
    </div>
</body>

</html>